%tr
  %td= event.event_date.in_time_zone('Eastern Time (US & Canada)').strftime('%m/%d/%Y %I:%M %p')
  %td= event.performer
  %td= event.content
  %td
    - if event.event_date > Time.now
      = link_to 'Edit', edit_event_path(event), class: 'btn btn-primary'
      = link_to 'Delete', event_path(event), class: 'btn btn-primary',
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
    //TODO: add edit link after edit UI is completed