%h1 Edit Event

= simple_form_for @event do |f|
  = f.error_notification

  = f.input :performer
  = f.input :event_date, as: :text, input_html: { class: 'datepicker' } # Use text input with datepicker class
  = f.input :content
  = f.submit 'Update Event', class: 'btn btn-primary'

= link_to 'Back', events_path, class: 'btn btn-secondary'


 