%fieldset
  %legend Sign In
  = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
    = render 'devise/shared/error_messages'
    %ul
      %li= f.input :username, required: true, autofocus: true, input_html: { class: 'form-control' }
      %li= f.input :password, required: true, input_html: { class: 'form-control' }
      - if devise_mapping.rememberable?
        %li= f.input :remember_me, as: :boolean
    .form-actions= f.submit 'Submit', class: 'btn btn-primary'
